body { 
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	background-color: #00008b;
}

h1 {
	color: white;
}

#container-calc {
	display: flex;
	flex-direction: column;
	background-color:lightgrey;
	border: solid brown 20px;
	width: 300px;
	height: 500px;
}

.display-container {
	display: flex;
	flex-direction: column;
	border: solid black;
	height: 100px;
}

#display-calc , #display-res {
	flex: 1 1 auto;
	background-color: grey;
	color: black;
	text-align: right;
}

#button-grid {
	flex: 10 1 auto;	
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	grid-template-columns: repeat(4,1fr);
}

.keys {
	border: solid black;
}

.corrections {
	display: flex;
	align-items: center;
	border: solid black;
	height: 40px;
	align-items: stretch;
}

#del, #clear {
	flex: 1 1 auto;
}
